bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
*.tmp
*.temp
*.pid
*.seed
*.pid.lock
.vscode/
.idea/
node_modules/
appsettings.json
appsettings.*.json
*.gz
*.generated.cs
*.generated.js
*.nupkg
project.lock.json
wwwroot/lib/
wwwroot/css/site.css
wwwroot/js/site.js